* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 120px;
}

body {
  font-size: 16px;
  background-color: $color-body;
  font-family: $font-garmond;
  max-width: 1920px;
  margin: 0 auto;
  color: $color-purple;
  &.loading {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-body;
    }
  }
}

h1,
.headline {
  font-size: clamp(42px, 6.25vw, 120px);
  font-family: $font-neue;
  font-weight: 350;
  text-transform: uppercase;
  line-height: 1;
}

h2,
.headline-2 {
  font-size: clamp(28px, 2.29vw, 44px);
  font-family: $font-neue;
  font-weight: 350;
  text-transform: uppercase;
  line-height: 1;
}

h3,
.headline-3 {
  font-size: clamp(20px, 1.25vw, 24px);
  font-family: $font-neue;
  font-weight: 350;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  input {
    background: transparent;
    font-size: 16px;
    background-color: $color-body;
    font-family: $font-garmond;
    border: none;
    outline: none;
    border-bottom: 1px solid $color-brown;
    color: $color-brown;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s ease-in-out;
    padding: 5px 0;
    &::placeholder {
      opacity: 1;
    }

    &:focus {
      color: $color-purple;
      border-bottom-color: $color-purple;
    }
  }
  button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
  }
  > p {
    color: $color-brown;
    text-align: left;
    margin-bottom: 5px;
  }

  .row {
    justify-content: space-between;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    label {
      position: relative;
      width: calc(100% / 3 - 5px);
      border: 1px solid $color-brown;
      color: $color-brown;
      padding: 0.7rem 2rem;
      cursor: pointer;

      @media screen and (max-width: $mobile-breakpoint) {
        padding: 0.5rem 1rem;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
      span {
        position: relative;
        z-index: 1;
      }
      input {
        display: none;
      }

      input:checked + .bg {
        opacity: 1;
      }

      .bg {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: #efe6db;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: 0;
      }

      &:hover {
        .bg {
          opacity: 1;
        }
      }
    }
  }
}
.btn {
  display: block;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 0.7rem 2rem;
  background-color: $color-brown;
  color: #fff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  min-width: 160px;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0.5rem 1rem;
    min-width: auto;
  }
  &:hover {
    background-color: #fff;
    color: $color-brown;
  }
  &.light {
    background-color: #fff;
    color: $color-brown;

    &:hover {
      background-color: $color-brown;
      color: #fff;
    }
  }
}

.grid {
  display: grid;
}
.row {
  display: flex;

  .row__inner {
    display: flex;
  }
}
.col {
  display: flex;
  flex-direction: column;
}
.no-overflow {
  overflow: hidden;
}

.auto-overflow {
  overflow: auto;
}

.text-image {
  color: #fff;
  .row {
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    .col {
      position: relative;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 100% !important;
      }
      h1 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2rem;
      }
      .content {
        margin: auto;
        padding: calc(#{$gutter} / 2);
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 4rem 2rem;
        }
        h4 {
          margin-bottom: 1rem;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(1) {
        width: calc(100% / 3);
        flex-shrink: 0;
        background: $color-brown;
      }

      &:nth-child(2) {
        width: 100%;
      }
    }
  }

  &.--rev {
    .row {
      .col {
        h1 {
          position: absolute;
          left: 0;
          right: unset;
        }

        &:nth-child(1) {
          width: 100%;
          flex-shrink: unset;
          padding: 0;
        }
        &:nth-child(2) {
          width: calc(100% / 3);
          flex-shrink: 0;
          background: $color-brown;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &:not(.--rev) {
      .row {
        .col {
          &:nth-child(2) {
            order: -1;
          }
        }
      }
    }
  }
}
.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: $color-brown;
  @media screen and (max-width: $mobile-breakpoint) {
    height: 1px;
    width: 100%;
    top: unset;
    bottom: 0;
  }
  .bar {
    position: absolute;
    left: -0.5px;
    top: 0;
    width: 2px;
    background: #21202b;
    transition: height 0.4s ease-in-out;

    @media screen and (max-width: $mobile-breakpoint) {
      transition: width 0.4s ease-in-out;
      top: -0.5px;
      left: 0;
      width: unset;
      height: 2px;
    }
  }
}
