nav {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 9;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  @media screen and (max-width: $tablet-breakpoint) {
    padding: 1rem;
  }

  &.scrolled,
  body.init__nav & {
    background: $color-purple;
    .btn {
      background: $color-brown;
      color: #fff;
      &:hover {
        background: #fff;
        color: $color-brown;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    align-items: center;
    width: 100%;

    &:first-of-type {
      li {
        margin-right: 2rem;

        @media screen and (max-width: $tablet-breakpoint) {
          margin-right: 1rem;
        }
      }
    }
    &:last-of-type {
      justify-content: end;
      li {
        margin-left: 2rem;
        @media screen and (max-width: $tablet-breakpoint) {
          margin-left: 1rem;
        }
      }
    }
  }

  > .center {
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    img {
      width: 90%;
      transition: opacity 0.2s ease-in-out;

      @media screen and (max-width: $tablet-breakpoint) {
        width: 80%;
      }
      &.dark {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  body.has-dark-logo & {
    color: $color-purple;

    > .center {
      img {
        opacity: 0;
        &.dark {
          opacity: 1;
        }
      }
    }
    .btn {
      background: $color-brown;
      color: #fff;

      &:hover {
        background: #fff;
        color: $color-brown;
      }
    }
  }

  &.scrolled {
    body.has-dark-logo & {
      color: #fff !important;
      > .center {
        img {
          opacity: 1;
          &.dark {
            opacity: 0;
          }
        }
      }
    }
  }

  .nav-toggle {
    display: none;
  }

  &.main-nav {
    @media screen and (max-width: $mobile-breakpoint) {
      grid-template-columns: auto 1fr;
      text-align: center;
      ul {
        &:first-of-type {
          order: 2;
          flex-direction: column;
          grid-column-start: 1;
          grid-column-end: 3;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-in-out;
          color: #fff;
          body.init__nav & {
            max-height: 300px;
          }
          li {
            margin: 0;
            font-size: clamp(28px, 2.29vw, 44px);
            font-family: $font-neue;
            font-weight: 350;
            text-transform: uppercase;
            line-height: 1;
            a {
              padding: 1rem 0;
              display: block;
            }
            &:first-of-type {
              padding-top: 2rem;
            }
            &:last-of-type {
              padding-bottom: 1rem;
            }
          }
        }
      }
      > .center {
        order: -1;
        max-width: 120px;
        justify-self: start;
        img {
          width: 100%;
        }
      }

      .nav-toggle {
        width: 35px;
        height: 35px;
        padding: 7px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        cursor: pointer;

        .line {
          width: 100%;
          height: 1px;
          background: $color-purple;
          body.index & {
            background: #fff;
          }
          body.init__nav & {
            background: transparent;
          }

          &:nth-child(2) {
            margin: 4px 0;
            position: relative;
            &:before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transform: rotate(0);
              background: $color-purple;
              body.init__nav &,
              body.index & {
                background: #fff;
              }
            }

            &::before {
              body.init__nav & {
                transform: rotate(45deg);
              }
            }

            &::after {
              body.init__nav & {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }

      &.scrolled {
        .nav-toggle {
          .line {
            background: #fff;
            &::before,
            &::after {
              background: #fff;
            }
          }
        }
      }
      body.init__nav & {
        color: #fff;
        > .center {
          img {
            opacity: 1;
            &.dark {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
