#banner {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 4rem;
  color: #fff;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(33, 32, 43, 0) 0%,
      $color-purple 100%
    );
    z-index: 2;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .content {
    z-index: 3;
    margin: auto;
    .btn {
      margin: 1rem auto 0;
      display: table;
      min-width: 180px;
    }
  }

  .countdown {
    z-index: 3;
    .label {
      margin-bottom: 1rem;
    }
    #time {
      display: flex;
      align-items: center;
      p {
        width: 90px;
        &:not(:last-child) {
          border-right: 1px solid rgba(255, 255, 255, 0.6);
          padding-right: 1.5rem;
          margin-right: 1.5rem;

          @media screen and (max-width: $mobile-breakpoint) {
            padding-right: 0.5rem;
            margin-right: 0.5rem;
          }
        }
        span {
          display: block;
          &:first-of-type {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

#intro {
  padding: $spacer 0;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: $spacer / 2 0;
  }
  .row {
    justify-content: space-between;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    .col {
      &:nth-child(1) {
        width: calc(100% / 3);
        flex-shrink: 0;

        @media screen and (max-width: $mobile-breakpoint) {
          width: calc(100% / 2);
        }
      }
      &:nth-child(2) {
        padding-left: calc(#{$gutter} / 2);
        @media screen and (max-width: $mobile-breakpoint) {
          padding-left: 0;
        }
        .content {
          width: 60%;
          margin: 0 auto $spacer * 1.5;
          @media screen and (max-width: $mobile-breakpoint) {
            width: 100%;
            margin: 0;
            padding: 2rem;
          }
          h2 {
            margin-bottom: 1rem;
          }
          .btn {
            display: table;
            margin-top: 2rem;

            @media screen and (max-width: $mobile-breakpoint) {
              margin-top: 1rem;
            }
          }
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

#cta {
  padding: 0 calc(#{$gutter});
  margin-bottom: $spacer;
  @media screen and (max-width: $mobile-breakpoint) {
    margin-bottom: $spacer / 2;

    padding: 0 2rem;
  }
  .row {
    border-top: 1px solid $color-brown;
    padding-top: 2rem;
    margin-top: 1rem;
    align-items: center;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-wrap: wrap;
      padding-top: 1rem;
    }
    .col {
      &:not(:last-child) {
        padding-right: calc(#{$gutter});

        @media screen and (max-width: $mobile-breakpoint) {
          padding-right: 1rem;
          width: 100%;
          margin-bottom: 1rem;
          br {
            display: none;
          }
        }
      }

      &:last-child {
        margin-left: auto;
        flex-shrink: 0;

        @media screen and (max-width: $mobile-breakpoint) {
          margin: 2rem auto 0 0;
          .btn {
            width: 150px;
          }
        }
      }
    }
  }
}

#residences {
  .row {
    .col {
      &:nth-child(1) {
        h1 {
          top: unset;
          bottom: 0;
        }
      }
    }
  }
}

#residences-slider {
  .row {
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    .col {
      &:nth-child(1) {
        position: relative;
        width: 40%;
        padding: calc(calc(#{$gutter}) + #{$spacer * 1.5}) 0;
        background: $color-body;
        justify-content: center;
        z-index: 1;
        @media screen and (max-width: $tablet-breakpoint) {
          padding: calc(calc(#{$gutter}) + #{$spacer}) 2rem;
        }

        @media screen and (max-width: $mobile-breakpoint) {
          padding: $spacer / 2 0 $spacer / 4;
          width: 100%;
          text-align: center;
          margin-bottom: $spacer / 4;
        }
        h2 {
          padding: 0 calc(#{$gutter});

          @media screen and (max-width: $mobile-breakpoint) {
            padding: 0 2rem;
          }
        }
        .arrows {
          padding-left: calc(#{$gutter});
          padding-top: 2rem;
          margin-top: 2rem;

          border-top: 1px solid $color-brown;
          display: flex;
          @media screen and (max-width: $mobile-breakpoint) {
            justify-content: center;
            padding-left: 0;
            padding-top: 1rem;
            margin-top: 1rem;
            border-top: none;
          }
          .arrow {
            position: relative;
            cursor: pointer;
            background-color: $color-brown;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            transition: background-color 0.2s ease-in-out;
            &.prev {
              transform: scale(-1, -1);
              margin-right: 1rem;
            }

            img {
              transition: opacity 0.2s ease-in-out;
              width: 55%;
              &.dark {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                opacity: 0;
              }
            }

            &:hover {
              background-color: #fff;
              img {
                opacity: 0;
                &.dark {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      &:nth-child(2) {
        width: calc(60% - 2rem);
        overflow: hidden;
        @media screen and (max-width: $mobile-breakpoint) {
          width: 100%;
          padding-bottom: $spacer / 2;
        }
        .col__inner {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          margin-right: 2rem;
          color: $color-brown;
          max-width: 90%;
          height: auto;
          width: auto;

          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 0.5rem;
          }
          img {
            flex-shrink: 0;
            width: auto;
            max-height: calc(((60vw - 2rem) * 0.9) * 0.7);

            @media screen and (max-width: $mobile-breakpoint) {
              max-height: calc(((100vw - 2rem) * 0.9) * 0.7);
            }
          }
          p {
            margin-top: 1rem;
            display: block;
          }
        }
      }
    }
  }
}

#amenities-pin {
  border-bottom: 1px solid $color-brown;

  @media screen and (max-width: $mobile-breakpoint) {
    border-bottom: none;
  }
  .row {
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      overflow: auto;
      flex-shrink: 0;
      padding: 0 2rem 1rem;
    }
    .col {
      flex-shrink: 0;
      &:nth-child(1) {
        padding: $spacer calc(#{$gutter} / 2) $spacer 0;
        width: 60%;

        @media screen and (max-width: $mobile-breakpoint) {
          padding: $spacer / 2 2rem 1rem 0;
          width: auto;
          flex-direction: row;
        }
        img {
          @media screen and (max-width: $mobile-breakpoint) {
            flex-shrink: 0;
            padding: 0 !important;
            width: calc(90vw - 2rem);
            max-width: 500px;
          }
          &:not(:last-of-type) {
            padding-bottom: calc(#{$gutter} / 2);
            @media screen and (max-width: $mobile-breakpoint) {
              margin-right: 1rem;
            }
          }

          &:last-of-type {
            @media screen and (max-width: $mobile-breakpoint) {
              padding-right: 2rem !important;
            }
          }
        }
      }
      &:nth-child(2) {
        width: 40%;
        padding: $spacer calc(#{$gutter} / 2);
        position: relative;
        height: 100vh;
        justify-content: center;
        position: sticky;
        top: 0;

        @media screen and (max-width: $mobile-breakpoint) {
          padding: $spacer / 2 2rem;
          flex-direction: row;
          height: auto;
          width: 100%;
          justify-content: flex-start;
          padding: 0;
        }
        .row__inner {
          align-items: center;
          border-bottom: 1px solid $color-brown;
          transition: border 0.2s ease-in-out;
          padding: 1rem 0;

          @media screen and (max-width: $mobile-breakpoint) {
            width: calc(90vw - 1rem);
            max-width: 500px;
            flex-shrink: 0;
            padding: 0 0 1rem;
            &:nth-last-child(2) {
              width: calc(90vw - 4rem);
            }
          }

          &:not(:last-of-type) {
            margin-bottom: 2rem;

            @media screen and (max-width: $mobile-breakpoint) {
              margin-bottom: 0;
            }
          }

          span,
          h3 {
            color: $color-brown;
            transition: 0.2s ease-in-out;
          }
          h3 {
            margin-left: 2rem;

            @media screen and (max-width: $mobile-breakpoint) {
              margin-left: 1rem;
            }
          }

          &.active {
            span,
            h3 {
              color: $color-purple;
            }
            border-bottom: 1px solid $color-purple;
          }
        }
        .scrollbar {
          right: unset;
          left: 0;
          @media screen and (max-width: $mobile-breakpoint) {
            display: none;
          }
          .bar {
            transition: unset;
          }
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

#neighborhood {
  .row {
    .col {
      h1 {
        left: unset;
        right: 0;

        @media screen and (max-width: $mobile-breakpoint) {
          left: 0;
          right: unset;
        }
      }
    }
  }
}

#pricing {
  padding: $spacer calc(#{$gutter});
  @media screen and (max-width: $mobile-breakpoint) {
    padding: $spacer / 2 0;
    overflow-y: auto;

    > h2 {
      padding: 0 2rem;
    }
  }
  .grid {
    margin-top: 4rem;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-top: 2rem;
      min-width: 725px;
      padding: 0 2rem 1rem;
    }
    > *:not(.floor-plan) {
      border-bottom: 1px solid $color-brown;
      display: flex;
    }

    > *:not(p):not(.btn):not(.floor-plan) {
      padding: 2rem 0;
    }

    > p {
      padding-bottom: 1rem;
      color: $color-brown;
      @media screen and (max-width: $mobile-breakpoint) {
        padding-right: 1rem;
      }
    }

    .btn-cell {
      align-items: flex-start;
      .btn {
        width: 100%;
        text-align: center;
      }
    }

    .col {
      align-items: flex-start;
      p {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
    .floor-plan {
      grid-column-start: 1;
      grid-column-end: 7;
      display: flex;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s 0.2s ease-in-out;
      img {
        width: 100%;
        padding: 2rem 0;
        opacity: 0;
        transition: opacity 0.2s 0s ease-in-out;
      }

      &.active {
        max-height: 900px;
        transition: max-height 0.2s 0s ease-in-out;

        img {
          opacity: 1;
          transition: opacity 0.2s 0.2s ease-in-out;
        }
      }
    }
  }
}
