$font-neue: "neue-haas-grotesk-display", sans-serif;
$font-garmond: "adobe-garamond-pro", serif;

$color-body: #f6f5f4;
$color-purple: #21202b;
$color-brown: #a89078;
$color-tan: #edeae8;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1080px;
$laptop-breakpoint: 1440px;

$spacer: 8rem;
$gutter: calc(min(8vw, 153.6px));
